In [2]:
%load_ext sql

In [3]:
%sql sqlite:///Delivery152.db

In [21]:
%%sql 
DROP TABLE IF EXISTS Unidades;
CREATE TABLE Unidades(uid INT PRIMARY KEY, direccion VARCHAR(200), comunas VARCHAR(200));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [22]:
%%sql 
DROP TABLE IF EXISTS Vehiculos;
CREATE TABLE Vehiculos(vid INT PRIMARY KEY, patente VARCHAR(20) UNIQUE, estado VARCHAR(20) DEFAULT 'activo', tipo VARCHAR(20));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [23]:
%%sql 
DROP TABLE IF EXISTS Personal;
CREATE TABLE Personal(pid INT PRIMARY KEY, nombre VARCHAR(200), rut VARCHAR(15), sexo VARCHAR(15), edad INT);

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [24]:
%%sql 
DROP TABLE IF EXISTS Despachos;
CREATE TABLE Despachos(did INT, vid INT, fecha DATE, origen VARCHAR(100), destino VARCHAR(100), idcompra INT, PRIMARY KEY(did, vid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [25]:
%%sql 
DROP TABLE IF EXISTS Carga;
CREATE TABLE Carga(vid INT PRIMARY KEY, volumen FLOAT, carga FLOAT);

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [26]:
%%sql 
DROP TABLE IF EXISTS CFria;
CREATE TABLE CFria(vid INT PRIMARY KEY, compartimientos INT, capacidad FLOAT);

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [27]:
%%sql 
DROP TABLE IF EXISTS PFrescos;
CREATE TABLE PFrescos(vid INT PRIMARY KEY, alcance FLOAT);

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [28]:
%%sql 
DROP TABLE IF EXISTS Unidad_Vehiculos;
CREATE TABLE Unidad_Vehiculos(uid INT, vid INT, PRIMARY KEY(uid, vid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [31]:
%%sql 
DROP TABLE IF EXISTS Administrativos;
CREATE TABLE Administrativos(pid INT, uid INT, calificacion FLOAT, PRIMARY KEY(pid, uid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [30]:
%%sql 
DROP TABLE IF EXISTS Repartidores;
CREATE TABLE Repartidores(pid INT, vid INT, licencia VARCHAR(20), PRIMARY KEY(pid, vid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [32]:
%%sql 
DROP TABLE IF EXISTS Jefaturas;
CREATE TABLE Jefaturas(pid INT, uid INT, PRIMARY KEY(pid, uid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [34]:
%sql \COPY Unidades from 'Unidades.csv' DELIMITER ',' CSV

 * sqlite:///Delivery152.db
(sqlite3.OperationalError) unrecognized token: "\"
[SQL: \COPY Unidades from 'Unidades.csv' DELIMITER ',' CSV]
(Background on this error at: http://sqlalche.me/e/13/e3q8)