In [2]:
%load_ext sql

In [3]:
%sql sqlite:///Delivery152.db

In [21]:
%%sql 
DROP TABLE IF EXISTS Unidades;
CREATE TABLE Unidades(uid INT PRIMARY KEY, direccion INT, jefe INT, FOREIGN KEY (direccion) REFERENCES Direcciones(dirid), FOREIGN KEY (jefe) REFERENCES Personal(pid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [22]:
%%sql 
DROP TABLE IF EXISTS Vehiculos;
CREATE TABLE Vehiculos(vid INT PRIMARY KEY, uid INT, patente VARCHAR(20) UNIQUE, estado VARCHAR(20) DEFAULT 'activo', tipo VARCHAR(20), FOREIGN KEY(uid) REFERENCES Unidades(uid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [23]:
%%sql 
DROP TABLE IF EXISTS Personal;
CREATE TABLE Personal(pid INT PRIMARY KEY, nombre VARCHAR(200), rut VARCHAR(15), sexo VARCHAR(15), edad INT);

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [24]:
%%sql 
DROP TABLE IF EXISTS Despachos;
CREATE TABLE Despachos(did INT PRIMARY KEY, fecha DATE, origen INT, destino INT, idcompra INT, vid INT, rid INT, FOREIGN KEY (vid) REFERENCES Vehiculos(vid), FOREIGN KEY (rid) REFERENCES Repartidores(rid), FOREIGN KEY (origen) REFERENCES Direcciones(dirid), FOREIGN KEY (destino) REFERENCES Direcciones(dirid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [25]:
%%sql 
DROP TABLE IF EXISTS Carga;
CREATE TABLE Carga(cid SERIAL PRIMARY KEY, vid INT, volumen FLOAT, carga FLOAT, FOREIGN KEY (vid) REFERENCES Vehiculos(vid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [26]:
%%sql 
DROP TABLE IF EXISTS CFria;
CREATE TABLE CFria(cfid SERIAL PRIMARY KEY, vid INT, compartimientos INT, capacidad FLOAT, FOREIGN KEY (vid) REFERENCES Vehiculos(vid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [27]:
%%sql 
DROP TABLE IF EXISTS PFrescos;
CREATE TABLE PFrescos(pfid SERIAL PRIMARY KEY, vid INT, alcance FLOAT, FOREIGN KEY (vid) REFERENCES Vehiculos(vid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [31]:
%%sql 
DROP TABLE IF EXISTS Administrativos;
CREATE TABLE Administrativos(aid SERIAL PRIMARY KEY, pid INT, uid INT, clasificacion VARCHAR(20), FOREIGN KEY (pid) REFERENCES Personal(pid), FOREIGN KEY (uid) REFERENCES Unidades(uid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [30]:
%%sql 
DROP TABLE IF EXISTS Repartidores;
CREATE TABLE Repartidores(rid SERIAL PRIMARY KEY, pid INT, vid INT, licencia VARCHAR(20), FOREIGN KEY(pid) REFERENCES Personal(pid), FOREIGN KEY(vid) REFERENCES Vehiculos(vid));

 * sqlite:///Delivery152.db
Done.
Done.

[]

In [ ]:
%%sql 
DROP TABLE IF EXISTS Comunas;
CREATE TABLE Comunas(comid SERIAL PRIMARY KEY, nombre VARCHAR(20));

In [ ]:
%%sql 
DROP TABLE IF EXISTS Comunas_Unidades;
CREATE TABLE Comunas(cuid SERIAL PRIMARY KEY, comid INT, uid INT, FOREIGN KEY(comid) REFERENCES Comunas(comid), FOREIGN KEY(uid) REFERENCES Unidades(uid));

In [34]:
%%sql
DROP TABLE IF EXISTS Direcciones;
CREATE TABLE Direcciones(dirid SERIAL PRIMARY KEY, nombre VARCHAR(30), comid INT, FOREIGN KEY(comid) REFERENCES Comunas(comid));

 * sqlite:///Delivery152.db
(sqlite3.OperationalError) unrecognized token: "\"
[SQL: \COPY Unidades from 'Unidades.csv' DELIMITER ',' CSV]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%%sql
DROP TABLE IF EXISTS Repartidores_Vehiculos;
CREATE TABLE Repartidores_Vehiculos(rvid SERIAL PRIMARY KEY, rid INT, vid INT, FOREIGN KEY(rid) REFERENCES Repartidores(rid), FOREIGN KEY(vid) REFERENCES Vehiculos(vid));